body{
	background-color: #fff;
	margin: 0;
	padding: 0;
}

header{
     float: left;
     width: 100%;
    border-bottom: 2px solid #eee;
	background-color: #fff;
	
}
header:after{
	clear: both;
	display: block;
	content: '';
}

header ul{
	float: left;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	 
}


header ul:nth-child(2){
	float: right;
	
}

header li{
	float: left;
	font-family: open sans;
	font-size: 14px;
	color: #353535;
	padding: 7px 15px;
	border-right: 2px solid #eee;

}

header ul:nth-child(2) li{
	border-left: 2px solid #eee;
	border-right: 0px;
}

.fas{
	color:#2c2c2c;
}

nav{
	
	width: 100%;
}
nav ul{
	margin: 0px;
	padding: 0px;
	float: left;

}
.logo img{
	margin-left: 5px;

}

ul.links{
	float: right;
	list-style-type: none;
	margin: 0 5px;
}
ul.links li{
	float: left;
	padding:30px 20px;
	font-family: open sans;
	font-weight: bold;
}
#banner {
	width: 100%;
	float: left;
 
 position: relative;

}

#banner img{
	width: 100%;
	 
}



@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
 

.prev{
	width: 35px;
	height: 45px;
	background-color: black;
    position: absolute;
	 
	left:10px;
	opacity: .3;
 
}
.prev b {
	opacity: 1 !important;
	color: white;
	font-size: 35px;
	width: 20px;
}
			
.fa-angle-left  {
	color: white;
	margin:5px;
}
.fa-angle-right{
	color: white;
	margin:5px 12px;
}

.next {
	float: right;
   width: 35px;
	height: 45px;
	background-color: black;
    position: absolute;
	 right: 10px;
	opacity: .3;
}
.next b{
	opacity: 1 !important;
	color: white;
	font-size: 35px;
	width: 20px;
}
#banner p{

 
width: 100%;
position: absolute;
top:40%;

}
.prev:hover b{
	transition: .2s linear all;
margin-left:10px;
cursor: pointer;
 
}
.next:hover .fa-angle-right{
transition: .2s linear all;
margin:5px 2px;
cursor: pointer;
 
}
span#btn{
	float: left;
	position: absolute;
	top: 70%;
	width: 100%;
	height: 100px;
	text-align: center;
}
#btn b{
	background-color: #606060;
	color: white;
	padding: 5px 20px 25px 20px;
 text-align: center;
	border : 1px solid white;
	font-family: open sans;
	font-size: 14px;
	cursor: pointer;
}

/* ---------- main*/

main{
	width: 100%;
	float: left;
	margin-top: 30px;
}
#wrapper{
	width: 80%;
	margin: auto;

}
#wrapper h2,h3,h5,h6{
	font-family: Roboto;
	font-weight: normal;
	text-align: center;
	color: #222;
}
.main_icon:after{
content: '';
display: block;
clear: both;
}

#wrapper .icons{
	width: 33%;
	 text-align: center;
	float: left;

}


h6{
	line-height: 1.8em;
	padding:5px 20px;
}

.icons .btn{
	background-color: #f7ce4f;
	font-family: Roboto;
	font-size: 12px;
	color:#fff ;
	padding:8px;
	 width: 30%;
	 min-width: 120px;
	 margin: auto;
}
#services{
	margin: 30px 0;
	float: left;
	width: 100%;
	background-color: #f5f5f5;
}
#services:after{
	content: '';
	display: block;
	clear: both;
}

#services h2{
	text-align: center;
	font-family: Roboto;
	font-weight: normal;
	text-align: center;
	color: #222;
}

 #services #wrapper{
 	margin-top: 50px;
 }
 .container{
 	width: 98%;
 	margin:auto;
 }

.tri{
	float: right;
	 
	border: 15px solid  ;
	border-left-color: red;
	border-right-color: red;
	/*position: absolute;
	top: 46%;
	left: 100%;*/
}